.stickersPage {
    width: 65rem;
    max-width: 95%;
    margin: 2rem auto 0;
}

.title {
    font-size: 2rem;
    color: white;
    margin: 1.5rem 0 1.5rem;
}

.list {
    column-count: 4;
    max-width: 100%;
}

.list img {
    width: 100%;
    margin-bottom: .5rem;
    border-radius: .25rem;
    background-color: #222;
}

/*-- media queries --*/
@media(max-width: 775px) {
    .list {
        column-count: 3;
    }
}

@media(max-width: 625px) {
    .list {
        column-count: 2;
    }
}